@import "../../../../assets/fonts/Roboto_Nunito/stylesheet.css";

:root {
  /* COLOR */
  --COLOR_AZUL_MARINO_OSCURO: #172B4D;
  --COLOR_BACKGROUND_BODY_95: #F9F2EC;
  --COLOR_BACKGROUND_BODY_98: #FDFAF7;
  --COLOR_BACKGROUND_SEC_NAVBAR_95: #ECF9F8;
  --COLOR_BACKGROUND_SECUND_95: #ECF8F8;
  --COLOR_GRADIANTE: linear-gradient(90deg, #66CB94 0%, #68ADD3 100%);
  --COLOR_PRIMARIO: #66CB94;
  --COLOR_PRIMARIO_LIGHT: #99FFC5;
  --COLOR_SECUNDARIO: #66CBC6;
  --COLOR_TEXTO_PRIMARIO: #06130C;
  --COLOR_TEXTO_PRIMARIO_95: #ECF9F2;
  --COLOR_TEXTO_SEC_GRIS: #3D5C59;
  --COLOR_TEXTO_SECUNDARIO_05: #061312;
  --COLOR_TEXTO_SECUNDARIO_98: #F7FCFC;
  --COLOR_VERDEMENTACLARO_20: #1A4C31;
  --COLOR_BACKGROUND_SECUND_CHOISE: #D9F2F1;
  --COLOR_BACKGROUND_SECUND_CHOISE_LIGHT: #eaf3f4;
  /* TEXT */
  --TITLE: 'Roboto', sans-serif;
  --TEXT: 'Nunito', sans-serif;

}